body{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.row{
  margin-top: 50px;
}

.admin-table{
    border:1px solid lightgray;
  }
.admin-table tr td{
    padding:10px;
  }
.admin-table tr:nth-child(even){
    background-color: #f2f2f2;
  }
.admin-table tr:hover {
    background-color: #ddd;
  }